<p>Hi {{merchantName}},</p>
<p>A payment of <strong>{{amount}} {{currency}}</strong> has been confirmed on the blockchain and is being processed for settlement.</p>
<div class="detail-box">
  <table>
    <tr><td>Reference</td><td>{{reference}}</td></tr>
    <tr><td>Amount</td><td>{{amount}} {{currency}}</td></tr>
    <tr><td>Network</td><td>{{network}}</td></tr>
    <tr><td>Transaction Hash</td><td>{{txHash}}</td></tr>
    <tr><td>Confirmed At</td><td>{{confirmedAt}}</td></tr>
  </table>
</div>
<p>We will notify you once the fiat settlement has been completed.</p>
